.signup
  %h1
    Apply

  - if @applicant.errors.present?
    .col-md-4.col-md-offset-4
      - @applicant.errors.full_messages.each do |msg|
        %p.error
          = msg

  = render partial: "form", locals: { applicant: @applicant }

